<%- include("./partials/nav.ejs") %>

<main class="homepage">
    
    <section class="hero">
        <div class="intro">
            
            <div class="welcome">
                <% if (user) { %>
                    <p class="greeting">Welcome, <%= user.username %>.</p>
                <% } else { %>
                    <p class="greeting">Your Express, MongoDB, Mongoose, EJS, and session setup is ready.</p>
                <% } %>
            </div>



<h1>content should be here</h1>





 <!-- Footer for best practice  -->
<%- include("./partials/footer.ejs") %>

</body>
</html>